<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>developmentAppKey</key>
	<string>np2Ow5aHRNutiTXu9_ntyg</string>
	<key>developmentAppSecret</key>
	<string>2_j-4mokTDy4yEkHnWAd6A</string>
	<key>productionAppKey</key>
	<string>Hv_Bj4RKQp2ezrUYKawsdQ</string>
	<key>productionAppSecret</key>
	<string>O1nHKqj3QQePMGQR52BAsg</string>
</dict>
</plist>
